.dashboard-container {
  background-color: #F6F6F9;
}

.d-flex {
  background-color: #F6F6F9;
}

.dashboard-container {
  padding: 1%;
  grid-gap: 100px;
}


.dashboard-project-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  height: 335px;
  border: 2px solid #E5E5E5;
  list-style: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-property-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 7px;
  height: 225px;
  border: 2px solid #E5E5E5;
  list-style: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-list {
  list-style: none;
  margin-bottom: 30px;
  padding-left: 0;
  margin-top: 30px;
}

.carousel-inner {
  margin: 0 auto;
  width: 96%;
}

.carousel-item {
  background-color: #F6F6F9;
}

.carousel-control-prev {
  padding-right: 130px;
  margin-top: 292px;
  margin-bottom: 50px;
}

.carousel-control-next {
  padding-left: 130px;
  margin-top: 292px;
  margin-bottom: 50px;
}


.dashboard-h1 {
  text-align: center;
  border-bottom: 5px solid #3BFFDB;
  width: 360px;
  margin-left: 37%;
  padding-top: 40px;
  font-family: 'Gotham';
}

.dashboard-second-header {
  font-family: 'Gotham';
  margin-top: 45px;
}

.dashboard-project-name {
  font-family: 'Josefin Sans';
  font-size: 25px;
  border-bottom: 2px solid #E5E5E5;
}

.dashboard-property-name {
  font-family: 'Josefin Sans';
  font-size: 22px;
  border-bottom: 2px solid #E5E5E5;
}

.dashboard-project-details-button {
  background-color: #27CE8D;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  font-size: 18px;
}

.dashboard-details-button {
  background-color: #27CE8D;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  font-size: 12px;
}

.dashboard-modify-button {
  color: #3F3F3F;
  border: 1px solid #3F3F3F;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 90px;
  text-decoration: none;
  font-size: 12px;
}

.dashboard-delete-button {
  border: 1px solid #FF3F3F;
  color: #FF3F3F;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  font-size: 12px;
}

.dashboard-info {
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  width: fit-content;
  gap: 10px;
  display: inline;
  padding:3px;
  background-color: #dcfff3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-simulation {
  margin-top: 25px;
  font-size: 22px;
  font-family: 'josefin sans';
}


.dashboard-simulation-section-scroll {
  height: calc(-55px + 100vh);
  overflow-y: scroll;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px inset;
  background: rgb(242, 242, 242);
  transition: all 0.3s ease 0s;
  height: 60px;
  border-radius: 5px;
  padding-top: 10px;
}

.dashboard-simulation-info {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
}

.dashboard-property-container {
  padding-bottom: 50px;
}
