
    <h4 id = "marker-pop-up-address"><i class="fa-solid fa-location-dot" style="color: #000000;"></i> Addresse :<%= property.address %></h4>
    <h4 id = "marker-pop-up-owner"><i class="fa-solid fa-key" style="color: #000000;"></i> Propriétaire : <%= property.user.first_name %></h4>
