.edit-page-h1 {
  text-align: center;
  border-bottom: 5px solid #3BFFDB;
  width: 360px;
  margin-left: 37%;
  padding-top: 40px;
  font-family: 'Gotham';
}

.edit-page-h3 {
  font-family: 'Gotham';
  margin-top: 25px;
}

.edit-form {
  width: 40%;
  position: relative;
  left: 26%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  margin: 50px;
  background-color: white;
}

.edit-input-button {
  background-color: #27CE8D;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 25px;
  text-decoration: none;
}


#edit-input {
  border-radius: 15px;
  border: none;
  width: 25pc;
  text-align: center;
  background-color: #dcfff3;
}
